.with-screenreader-label img {
  width: 100%;
  height: auto;
  display: block;
}

.with-screenreader-label .screenreader-label {
  font-size: var(--s-1);
  text-align: left;
  border: 0.2em solid var(--dark);
  margin: 0 auto;
  margin-top: var(--s-2);
  padding: var(--s-5) var(--s-4);
  max-width: max-content;
  border-radius: var(--round);
  position: relative;
  /* TODO: not dark mode compatible */
  background: url("../images/speaker.svg") var(--light) center left 0.6em
    no-repeat;
  background-size: 0.8em;
  padding-left: var(--s3);
}

.with-screenreader-label .screenreader-label:before {
  content: "";
  display: block;
  position: absolute;

  z-index: -1;

  width: 1em;
  height: 1em;
  top: 0;
  left: 10%;
  background: var(--dark);
  border-radius: calc(var(--round) / 2);
  transform: translateY(-0.5em) rotate(-45deg);
}
