.with-screenreader-label img {
  width: 100%;
  height: auto;
  display: block;
}

.with-screenreader-label .screenreader-label {
  font-size: var(--s-1);
  text-align: center;
  background: var(--light);
  border: 0.2em solid var(--dark);
  margin: 0 auto;
  margin-top: var(--s-2);
  padding: var(--s-5) var(--s0);
  max-width: max-content;
  border-radius: var(--round);
  position: relative;
}

.with-screenreader-label .screenreader-label:after {
  content: "";
  display: block;
  position: absolute;

  z-index: -1;

  width: 1em;
  height: 1em;
  top: 0;
  left: 10%;
  background: var(--dark);
  border-radius: calc(var(--round) / 2);
  transform: translateY(-0.5em) rotate(-45deg);
}

.with-screenreader-label .screenreader-label:before {
  content: "🔉 ";
}
